@use "../variables/colors";
@use "../variables/fonts";
@use "../variables/spaces";

.masonry{
  display: grid;
  gap: 1rem;
  grid-template-columns: auto auto auto auto;
  margin-top: 2rem;

& article {
  color: colors.$light-text;
  border-radius: spaces.$card-border-radius;
  padding: 1em;
}
& article:hover {
  //margin-top: -10%;
  transform: translateY(-2%);
}

  & article:nth-child(1){
  & h3 {
    font-size: fonts.$h3-small;
  }
      grid-column-start: 1;   
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;
      background-image: url(../../images/second-row_item1.jpg);
      height: 30rem;
      border-radius: spaces.$card-border-radius;
      position: relative;
      &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
       background: rgba(205, 196, 23, 0.85);
        border-radius: 2rem;
      }
  }
  & article:nth-child(2){
  & h3 {
    font-size: fonts.$h3-small;
  }
      background-image: url(../../images/second-row_item2.jpg);
      height: auto;
      border-radius: spaces.$card-border-radius;
  }
  & article:nth-child(3){
  & h3 {
    font-size: fonts.$h3-small;
  }
      // background-image: url(../../images/second-row_item1.jpg);
      background-color: rgb(228, 176, 64);
      height: auto;
      border-radius: spaces.$card-border-radius;
  }
  & article:nth-child(4){
  & h3 {
    font-size: fonts.$h3-small;
  }
      background-image: url(../../images/second-row_item4.jpg);
      height: auto;
      border-radius: spaces.$card-border-radius;
  }
  & article:nth-child(5){
  & h3 {
    font-size: fonts.$h3-small;
  }
      background-image: url(../../images/second-row_item5.jpg);
      height: auto;
      border-radius: spaces.$card-border-radius;
  }
}

.blog {
display: flex;
flex-direction: column;
gap: 1em;
padding: 1em;
justify-content: center;
& article {
  background-image: url("../../../images/third-row_item1.jpg"),
    linear-gradient(rgba(74, 46, 26, 0.402), #423f2680);
  background-position: center;
  padding: 4em;
  border-radius: spaces.$card-border-radius;
  background-size: 100%;
  transition: all 0.5s ease-in-out;
}
& article:hover {
  //transform: scale(1.2);
  background-size: 110%;
}
}

.blog__content {
& h3 {
  & span {
    font-size: 1.5em;
    visibility: hidden;
  }
  &:hover {
    & span {
      font-size: 1.5em;
      visibility: visible;
    }
  }
}
}
