.eighth-row {
    align-items: center;
    text-align: center;
    line-height: 15rem;
    margin: 0;
    padding: 0;
}
.eighth-row_btn {
    width: 100%;
    margin: 0;
    height: 10rem; /* Set the height of the button */
    padding: 5rem 0; /* Add top and bottom padding to increase the size of the button */
    border-radius: 2rem;
    font-size: 2rem;
    font-weight: bold;
}