.fourth-row{
    // background-color: blue;
    position: relative;
    background-image: url(../../images/third-row_item1.jpg);
    line-height: 30rem;
    border-radius: 2rem;
    margin-top: 2rem;
}
.fourth-row::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(205, 196, 23, 0.85);
    border-radius: 2rem;
  }